<div class="jumbotron jumbo-about">
		<h1 class="jumbo-text">Project Summary</h1>
			<p class="jumbo-text">Welcome to the about page for the Pinteresting app. This was a project that was started to learn how Ruby on Rails applications are built.<br /><br/>

			This app, called Pinteresting, is my first shot at building a RoR app. Users are allowed to sign up and create a profile. Once their account has been created, users are able to create pins and attach images with descriptions. Once saved, they are added to the collection for all to see.<br /><br />

			Feel free to add your favorite memories so you can share with others. Enjoy!</p>
</div>